@import "src/assets/css/variables";
@import "src/assets/css/mixins";

.wizard {
  .stepBody {
    &[aria-disabled="true"] {
      pointer-events: none;
    }

    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
      background-color: $gray-300;
      overflow: hidden;
    }
  }
}
