@import "src/assets/css/theme";
@import "~bootstrap/scss/variables";

//
// Input group
//


.input-group-text {
  transition: $input-transition;
}

// Flush

.input-group-flush {
  .form-control,
  .input-group-text {
    border: 0 !important;
  }
}


// Focused state

.focused {
  :global {
    // Add shadow on the input group (not on .form-control)
    .input-group {
      @if $enable-shadows {
        box-shadow: $input-box-shadow, $input-focus-box-shadow;
      } @else {
        box-shadow: $input-focus-box-shadow;
      }

      .form-control {
        box-shadow: none !important;
      }
    }

    // Additional styles for the input addon element
    .input-group-text {
      color: $input-group-addon-focus-color;
      background-color: $input-group-addon-focus-bg;
      border-color: $input-group-addon-focus-border-color;
    }
  }
}

:global {
  .input-group {
    .input-group-text.is-invalid {
      color: $input-group-addon-invalid-color;
      background-color: $input-group-addon-invalid-bg;
      border-color: $input-group-addon-invalid-border-color;
    }
  }
}
