@import "../variables";
@import "../mixins";

.btn-xs,
.btn-group-xs > .btn {
  @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-xs, $btn-line-height-xs, $btn-border-radius-xs);
}

.btn-grayish {
  @include button-variant($gray-200, transparent);
}

.btn-transparent {
  @include button-variant(transparent, transparent, $gray-200);
}

.btn-link {
  border-radius: 0;
  font-size: 80%;
  font-weight: $font-weight-normal;
  padding: 0;

  &:hover {
    color: $text-muted-hover !important;
  }
}
