@import "../variables";
@import "../mixins";

.form-control-xs {
  height: $input-height-xs;
  padding: $input-padding-y-xs $input-padding-x-xs;
  @include font-size($input-font-size-sm);
  line-height: $input-line-height-xs;
  @include border-radius($input-border-radius-sm);
}
