@import "src/assets/css/variables";
@import "src/assets/css/mixins";

.btnAsLink {
  font-size: 80%;

  &:hover {
    color: $text-muted-hover !important;
  }
}

.btnWhite {
  @include button-variant(white, transparent);
  box-shadow: none;

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }
}

.btnXs {
  @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $btn-font-size-xs, $btn-line-height-xs, $btn-border-radius-xs);
  font-weight: $font-weight-bolder;
}
