@import "../../assets/css/theme";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@mixin alert-variant($background, $border, $color) {
  color: color-yiq($background);
  @include gradient-bg($background);
  border-color: $border;

  hr {
    border-top-color: darken($border, 5%);
  }

  .alert-link {
    color: color-yiq($background);
    font-weight: $font-weight-bold;
    border-bottom: 1px dashed color-yiq($background);
  }

  .close > span:not(.sr-only) {
    color: color-yiq($background);
  }
}

//
// Alert outline variant
//

@mixin alert-outline-variant($border, $color) {
  background: transparent;
  color: $color;
  border-color: $border;

  hr {
    border-top-color: lighten($border, 5%);
  }

  .alert-link {
    color: $color;
  }

  .alert-group-prepend {
    border-right: 1px solid $border;
  }
}
//
// Alert
// bootstrap overrides
//

.alert {
  font-size: $alert-font-size;

  strong {
    font-weight: $font-weight-bold;
  }

  hr {
    margin: $alert-padding-y 0;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.alert-heading {
  font-weight: $font-weight-bold;
  font-size: $h4-font-size;
  margin-top: .15rem;
}


// Flush alert

.alert-flush {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}

// Modern alert

.alert-modern {
  display: inline-block;
  padding: .275rem 1rem .375rem .375rem;
  @include border-radius($rounded-pill);
  @include caret(right);

  .badge + .alert-content {
    margin-left: .5rem;
  }

  @include media-breakpoint-down(xs) {
    text-align: center;

    &:after {
      content: ""
    }

    .alert-content {
      display: block;
      margin-top: .5rem;
    }
  }
}

// Dark alert

.alert-dark {
  background-color: $alert-dark-bg;
  color: $alert-dark-color;
  border: 0;

  .alert-link {
    color: $alert-dark-color;
  }

  .close {
    & > span:not(.sr-only) {
      color: lighten($alert-dark-color, 15%);
    }

    &:hover,
    &:focus {
      & > span:not(.sr-only) {
        color: $alert-dark-color;
      }
    }
  }

  hr {
    border-color: rgba(invert($alert-dark-bg), .1);
  }
}


// Outline alerts

[class*="alert-outline-"] {
  border-right: 1px solid;

  .alert-group-prepend {
    padding-right: $alert-padding-x;
  }
}

@each $color, $value in $theme-colors {
  .alert-outline-#{$color} {
    @include alert-outline-variant(theme-color-level($color, $alert-border-level), theme-color-level($color, $alert-color-level));
  }
}

.alert-notify {
  display: flex !important;
  max-width: 600px;
  width: calc(100% - 30px);
  padding-right: 80px;
  @include box-shadow($box-shadow-lg);

  &:hover {
    z-index: 1081 !important;
  }
}

.alert-messages:not(:last-child) {
  margin-bottom: 1.25rem
}

.alert-group {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;

  .alert-group-prepend {
    display: inline-flex;
    vertical-align: middle;
    margin-right: .5rem;
  }

  .alert-group-prepend,
  .alert-content,
  .alert-action {
    padding-top: $alert-padding-y;
    padding-bottom: $alert-padding-y;
  }

  .alert-action {
    margin-left: auto;
  }

  .btn {
    padding: .25rem .75rem;
    font-size: $font-size-sm;
    line-height: 1.6;
  }

  &[class*="alert-outline"] {
    .alert-group-prepend {
      margin-right:  $alert-padding-x;
    }
  }
}

.alert-group-icon {
  display: inline-block;
  min-width: 26px;
  text-align: center;
}

.alert-dismissible {
  .alert-group-prepend {
    display: block;
  }

  .close {
    top: 50%;
    right: $alert-padding-x;
    transform: translateY(-50%);
    padding: 0;
  }
}
