@import "node_modules/bootstrap/scss/mixins";

@import "vendor/quick/scss/core/mixins/gradients";
@import "vendor/quick/scss/core/mixins/alert";
@import "vendor/quick/scss/core/mixins/badge";
@import "vendor/quick/scss/core/mixins/background-variant";
@import "vendor/quick/scss/core/mixins/buttons";
//@import "vendor/quick/scss/core/mixins/caret";
@import "vendor/quick/scss/core/mixins/icon";
@import "vendor/quick/scss/core/mixins/link";
@import "vendor/quick/scss/core/mixins/modals";
@import "vendor/quick/scss/core/mixins/popover";
@import "vendor/quick/scss/core/mixins/ribbon";
@import "vendor/quick/scss/core/mixins/tongue";

@mixin material-icon($size: 24px) {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: $size;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
