@import 'functions';

$enable-card-cap-border:                      true;
$enable-print-styles:                         true;
$enable-validation-icons:                     true;

$icon-font-family:              'Material Icons';

$caret-width: .38em;
$caret-vertical-align: 0.2em;
$caret-spacing: 0.5em;

$input-btn-padding-y-xs:      .275rem;
$input-btn-padding-x-xs:      .8rem;

$font: "https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,700,800|Source+Code+Pro:400|Material+Icons&display=swap";

$grid-gutter-width:           20px;

$border-radius:               .275rem;
$border-radius-xl:            .65rem;
$border-radius-lg:            .4rem;
$border-radius-sm:            .2rem;
$border-radius-xs:            .1rem;

$navbar-padding-x:                  0;
$navbar-padding-y:                  0;

$card-border-radius:                $border-radius-lg;
$card-spacer-x:                     0.8rem;

@import 'quick/scss/core/variables';

$body-bg:       $gray-100;

$table-head-font-size:        1rem;
$table-subhead-font-size:     0.9rem;
$table-subhead-color:         $gray-600;

$btn-font-size-xs:            $input-btn-font-size-xs;

$input-group-addon-invalid-color:               $danger;
$input-group-addon-invalid-bg:                  $gray-200;
$input-group-addon-invalid-border-color:        $danger;

$input-padding-y-xs:                    $input-btn-padding-y-xs;
$input-padding-x-xs:                    $input-btn-padding-x-xs;
$input-line-height-xs:                  $input-btn-line-height-xs;

$input-height-xs:                       add($input-line-height-xs * 1em, add($input-padding-y-xs * 2, $input-height-border, false));
$input-border-radius-xs:                $border-radius-xs;

@import '~bootstrap/scss/variables';

/* New breakpoints */
$grid-breakpoints: map-merge($grid-breakpoints, (
        xxl: 1366px,
));

$container-max-widths: map-merge($container-max-widths, (
        xxl: 1366px,
));
